<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
  <form action="" method="post">
    {% if full_name %}
      <p> Hello! It's admin panel! </p>
          Users {{full_name}}
    {% endif %}
</form>
</head>
<body>
</body>
</html>
