*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.email{
    border: 0px solid black;
    display: inline-block;
    font-weight: 400;
    padding: 21px 37px 20px 37px;
    border-radius: 53px;
    margin: 19.2% 41.9% 0 41.8%;
    box-shadow: 5px 5px 14px 3px rgba(0, 0, 0, 0.25);
    

    
}
  
.password{
    border: 0px solid black;
    display: inline-block;
    font-weight: 400;
    padding: 21px 37px 20px 37px;
    border-radius: 53px;
    margin: 1.45% 41.9% 0% 41.8%;
    box-shadow: 5px 5px 14px 3px rgba(0, 0, 0, 0.25);
    
    
}
  
.sumbit{
    font-size: 20px;
    display: inline-block;
    border: 0px solid black;
    padding: 8px 31px;
    border-radius: 53px;
    margin: 1.45% 48% 20.5% 44.3%;
    background-color: #89D5FF;
    box-shadow: 5px 5px 14px 3px rgba(0, 0, 0, 0.25);
    
    
    
}
  

  
body{
    font-family: 'Inria Sans', sans-serif;
    color: #000000;
   
    
}